// pic
%icons {
  background-image: url(~@/assets/husky.jpg);
}

// sprite
%ant {
  background-image: url(~@/assets/sprite/ant1.png);
}

%ant-hover {
  background-image: url(~@/assets/sprite/ant2.png);
}
